@font-face {
  font-family: "OpenSans";
  src: url(../Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-B";
  src: url(../Open_Sans/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "OpenSans";
}
div aside > h3.h3-aside {
  font-family: "OpenSans-B" !important;
}

.popular {
  list-style: none;
}
.num-popular {
  font-size: 32px;
  color: rgba(107, 106, 106, 0.336);
  font-family: "OpenSans";
}

footer {
  font-size: 13px;
  font-size: "OpenSans";
}
@media only screen and (min-width: 1024px) {
}
